<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>816896651750-qmnrckhpjaaq2r49gprlaikvpt601dr7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.816896651750-qmnrckhpjaaq2r49gprlaikvpt601dr7</string>
	<key>API_KEY</key>
	<string>AIzaSyAUwW7a60ofE4HBBVWlgtL7eWU2FJ8vQa0</string>
	<key>GCM_SENDER_ID</key>
	<string>816896651750</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vpaniush.wasteSorter</string>
	<key>PROJECT_ID</key>
	<string>wastesorter-e6f1e</string>
	<key>STORAGE_BUCKET</key>
	<string>wastesorter-e6f1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:816896651750:ios:98bf833f6b76f1ad622627</string>
</dict>
</plist>